@import url(./bootstrap.min.css);
* {
    font-family: 'Montserrat', sans-serif;
}
nav {
    background-color: #adb5bd;
}
.logo {
    padding: 1px 3px;
    background-color: var(--bs-teal);
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
footer {
    background-color: var(--bs-teal);
    color: white;
}